body {
    margin: 0;
    padding: 0;
}

.App {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: inset 0px 0px 15px black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

input[type=text] {
    padding: 7.5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: hsl(0, 0%, 0%);
    border: 2px solid black;
    background: lightgrey;
    outline: none;
    transition: all .3s;
}

input[type=text]:focus {
    background: rgb(143, 143, 143);
}

::placeholder {
    color: black;
}

.err {
    padding: 5px;
    border-radius: 5px;
}