button {
    padding: 7.5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}